.users-container {
  width: 100%;
}
.navbar-div {
  display: flex;
  justify-content: space-between;
}
.users-hero-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 30px;
  margin: auto;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-modal-content {
  background-color: #fff;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.add-user-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin: auto;
  gap: 20px;
}
.input {
  padding: 10px;
  border-radius: 4px;
  flex: 1;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px 5px;
}
.search-input {
  border: none;
  width: 300px;
  font-size: 0.8rem;
  padding: 6px;
  outline: none;
}
.search-input:focus {
  border: none;
}
.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.users-table th {
  background-color: #f2f2f2;
}
.users-table tr:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.users-table button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.users-table button:hover {
  background-color: #d32f2f;
}
.name-div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
  
@media screen and (max-width: 768px) {
  .users-hero-container {
      padding: 0; 
  }
  .user-modal-content {
    width: 90%;
    margin: auto;
  }
  .add-user-form {
    width: 95%;
    margin: auto;
  }
}
