.navbar-div {
  display: flex;
  justify-content: space-between;
}
.users-hero-container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  margin-top: 30px;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.add-user-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
}
.input {
  height: 4vh;
  padding: 0 5px;
  border-radius: 4px;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 3px 5px;
}
.search-input {
  border: none;
  width: 300px;
  font-size: 0.8rem;
  padding: 6px;
  outline: none;
}
.search-input:focus {
  border: none;
}
.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.users-table th {
  background-color: #f2f2f2;
}
.users-table tr:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.users-table button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.users-table button:hover {
  background-color: #d32f2f;
}
.name-div {
  display: flex;
  justify-content: space-between;
}
  