.home-container {
    padding: 20px;
  }
  
  .line-chart-container {
    margin-bottom: 20px;
  }
  
  .pie-chart-container {
    max-width: 400px;
    margin: 0 auto;
  }
.dashboard {
  display: grid;
  grid-template-columns: repeat(2fr 2fr);
} 