.home-summary {
  width: 100%;
  height: 100%;
}
.dashboard {
  gap: 20px;
  width: 100%;
}
.chart-container {
  display: flex;
  width: 100%;
}
.navbar-div {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0 10px;
  width: 85%;
  z-index: 1000;
  background-color: #fefefe;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.export-button {
  display: flex; 
  align-items: center; 
  color: #ff6384;
  border: 1px solid gray; 
  border-radius: 4px; 
  padding: 7px 10px; 
  font-weight: bold;
  cursor: pointer; 
  margin: auto 0;
  margin-right: 30px;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #45a049;
  color: #fff;
  .export-icon {
    color: #fff;
  }
}

.export-icon {
  color: #ff6384;
  margin-right: 8px; 
}
.dashboard-home-landing {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  margin-top: 70px;
}
.dashboard-hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.dashboard-stats-container {
  display: flex;
  justify-content: space-between;
}
.dashboard-stats-container {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}
.dashboard-stat {
  display: flex;
  width: 17%;
  align-items: center;
  padding: 10px 60px;
  gap: 10px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashboard-icon {
  font-size: 2rem;
}
.dashboard-stat div {
  display: flex;
  flex-direction: column;
}
.dashboard-stat p {
  margin: 0;
}
.dashboard-stat h3 {
  margin: 5px 0;
}
.dashboard-top-products {
  width: 270px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  margin-left: 15px;
}
.top-products-div {
  display: flex;
  gap: 15px;
  padding-bottom: 10px;
}
.orders-table {
  width: 100%;
  border-collapse: collapse;
}
.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 4px;
  width: 120px;
}
.dashboard-icon {
  font-size: 2rem;
  margin-bottom: 20px;
}