.home-summary {
  width: 100%;
  height: 100%;
}
.dashboard {
  gap: 20px;
  width: 100%;
}
.chart-container {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
}
.navbar-div {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0 10px;
  width: 85%;
  z-index: 1000;
  background-color: #fefefe;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.navbar-div-hero-section {
  display: flex; 
  gap: 5px;
  align-items: center; 
  width: 100%;
}
.export-button {
  display: flex; 
  align-items: center; 
  color: #ff6384;
  border: 1px solid gray; 
  border-radius: 4px; 
  padding: 7px 10px; 
  font-weight: bold;
  cursor: pointer; 
  margin: auto 0;
  margin-right: 30px;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #45a049;
  color: #fff;
  .export-icon {
    color: #fff;
  }
}

.export-icon {
  color: #ff6384;
  margin-right: 8px; 
}
.dashboard-home-landing {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  margin-top: 70px;
}
.dashboard-hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.dashboardStatistics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  gap: 20px;
}
.dashboard-stats-container {
  display: flex;
  flex: 1;
  margin: 0;
}
.dashboard-stats-container:hover {
  cursor: pointer;
  transform: translateY(-0.2em);
}
.dashboard-stat {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}
.dashboard-analytics {
  display: flex;
}
.dashboard-icon {
  /* font-size: 20px; */
  margin-right: 3px;
}
.statRatio-div {
  display: flex;
}
.dashboard-stat p {
  margin: 0;
}
.dashboard-stat h3 {
  margin: 5px 0;
}
.statRatio-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.statRatio-divs {
  display: flex;
  padding: 1px;
  border-radius: 3px;
}
.statRatio-divs.increase {
  background-color: #d4edda; 
  border: 1px solid #c3e6cb; 
}
.statRatio-divs.decrease {
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb;
}
.stat-icon {
  font-weight: bold;
  font-size: 12px;
  margin: auto;
}
.statRatio-div-percentage {
  font-weight: bold;
  font-size: 13px;
}
.dashboard-top-products {
  width: 270px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  margin-left: 15px;
}
.recent-orders-container {
  margin: 10px 0;
}
.dashboard-orders-table {
  width: 96%;
  border-collapse: collapse;
  margin: auto;
}
.dashboard-orders-table th,
.dashboard-orders-table td {
  border: 1px solid #ddd;
  padding: 4px;
  width: auto;
}
.dashboard-icon {
  font-size: 2rem;
  margin-bottom: 20px;
}


@media screen  and (max-width: 1300px) {
  .navbar-div {
    width: 100%;
  }
  .navbar-div-hero-section {
    margin-left: 18px;
  }
  .chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .export-button {
    display: none;
  }
  .dashboard-home-landing {
    margin-top: 80px;
    width: 100%;
    padding: 0;
  }
  .dashboardStatistics {
    margin: 0 auto;
    width: 96%;
  }
  .dashboard-stats-container {
    margin: 0 auto;
  }
}