.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 20%;
}
.sidebar-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
}
.sidebar-menu li {
  padding: 15px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.sidebar-menu li:hover {
  background-color: #555;
}
.sidebar-menu li svg {
  margin-right: 15px;
}
.logo {
  height: 8vh;
  width: 5vw;
  margin: auto;
  display: flex;
  justify-content: center;
}
.sidebar-username {
  display: flex;
  text-align: center;
  padding: 20px 20px;
  gap: 7px;
  
}
.sidebar-username img {
  height: 40px;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
.sidebar-username h5 {
  display: flex;
  text-align: center;
  margin: 0;
}