.app {
  display: flex;
}
.home-app {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
.dashboard-landing {
  overflow: hidden;
  position: fixed;
  height: fit-content;
  height: 100%;
}
.content {
  width: 100%;
  position: relative;
  padding: 0px;
  margin-left: 300px;
}
