.giftcards-container {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-div {
    display: flex;
    justify-content: space-between;
}
.giftcards-container h2 {
    margin-bottom: 20px;
    color: #333;
}
.giftcards-content {
    margin-top: 20px;
}
.giftcard-form {
    margin-bottom: 20px;
    padding: 0 20px 0 0;
}
.giftcard-form label {
    display: block;
    margin-bottom: 8px;
}
.giftcard-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}
.giftcard-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.giftcard-table {
    width: 100%;
    border-collapse: collapse;
}
.giftcard-table th, .giftcard-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
/* .giftcard-table th {
    background-color: #f2f2f2;
} */
/* .giftcard-table tr:nth-child(even) {
    background-color: #f2f2f2;
} */
.giftcard-table button {
    padding: 4px 8px;
    margin-right: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.giftcard-table button:hover {
    background-color: #0056b3;
}
.notification-icon-container {
    display: flex;
    align-items: center;
}
.notification-icon {
    font-size: 1.6rem;
}
.notification-dot {
    position: absolute;
    top: 10px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
  }