.navbar-div {
    display: flex;
    justify-content: space-between;
}
.navbar-div h2{
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}
.settings-container {
    height: 100vh;
    overflow-y: hidden;
    margin-top: 70px;
    transition: background-color 0.3s ease;
}
/* .dark-theme {
    background-color: #333;
    color: #fff;
} */
.setting-option {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    width: 100px;
}
.admin-profile {
    display: flex;
    gap: 7px;
    text-align: center;
}
  